<h1>Login</h1>
<!-- is the user who they claim to be
remember -->

<form action="/sessions" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" />
  </p>
  <input type="submit"/>
</form>
